spring:
  application:
    name: provider
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

server:
  port: 8081

management:
  endpoints:
    web:
      exposure:
        include: "*"


#user:
#  id: 1
#  name: mireal
#  age: 17
#management:
#  endpoints:
#    web:
#      exposure:
#        include: "*"